<a href="https://colab.research.google.com/github/solobala/pyda36/blob/main/Balakina_pyda36_DZ6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание к лекции «Исключения и обработка ошибок»

# Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [ ]:
from datetime import datetime

In [ ]:
papers = dict()
test = ['10-02-2002','11-10-2013','08-18-1977'] # строки- даты в удобочитаемом формате для контроля
papers['The Moscow Times'] = ['%A, %B %d, %Y','Wednesday, October 2, 2002']
papers['The Guardian'] = ['%A,%d.%m.%y', 'Friday,11.10.13']
papers['Daily News'] = ['%A, %d %B %Y','Thursday, 18 August 1977']

In [ ]:
# создаем объекты datetime из соответствующих дат-строк, а затем конвертируем эти объекты в строки с использованием подобранных форматов
print(datetime.strftime(datetime.strptime(test[0],'%m-%d-%Y'),'%A, %B %-d, %Y'))
print(datetime.strftime(datetime.strptime(test[1],'%d-%m-%Y'),'%A,%-m.%-d.%y'))
print(datetime.strftime(datetime.strptime(test[2],'%m-%d-%Y'),'%A, %-d %B %Y'))

Wednesday, October 2, 2002
Friday,10.11.13
Thursday, 18 August 1977

In [ ]:
# создаем  объекты datetime из соответствующих дат-строк, а затем конвертируем эти объекты в строки с использованием подобранных форматов
for key, value in papers.items():
  date_datetime = datetime.strptime(value[1], value[0])
  print(date_datetime)

2002-10-02 00:00:00
2013-10-11 00:00:00
1977-08-18 00:00:00

# Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [ ]:
def is_date_correct(my_date):
    """
    проверяет дату на корректность.
    для каждой даты возвращает True (дата корректна) 
    или False (некорректная дата)
    """
    format = '%Y-%m-%d'
    result = True

    try:
      date_datetime = datetime.strptime(my_date,format)

    except:
      result = False
      
    finally:
      return result

In [ ]:
def main():
    stream = ['2018-04-02', '2018-02-29', '2018-19-02'] 
    for data in stream:
      print(is_date_correct(data))

In [ ]:
main()

True
False
False

# Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import timedelta

In [ ]:
def date_range(start_date,end_date):
    """
    возвращает список дат за период от start_date до end_date.
    Даты должны вводиться в формате YYYY-MM-DD.
    В случае неверного формата или 
    при start_date > end_date должен возвращаться пустой список
    """
    format = '%Y-%m-%d'
        
    try:
        result = []
        date_datetime = datetime.strptime(start_date, format)
        date_end = datetime.strptime(end_date, format)

        while date_datetime < date_end:
            result.append(date_datetime) 
            date_datetime += timedelta(days=1)
        return result
    except:
        return []

In [ ]:
def main():
    format = '%Y-%m-%d'
    start_date, end_date = input('Введите начало периода: '), input('Введите конец периода: ')
    result = date_range(start_date, end_date)
    if len(result) != 0:
        for data_ in result:
            print(datetime.strftime(data_, format))
    else:
      print(result)

In [ ]:
main()

Введите начало периода: 22-01-01
Введите конец периода: 2022-02-02
[]

# Задание 4 (необязательное)
Ваш коллега прислал код функции:

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
""“
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
”""
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)

1
return default_list[DEFAULT_USER_COUNT-2]
При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
‘A101’

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

Что значит ошибка list index out of range?
Почему при первом запуске функция работает корректно, а при втором - нет?

In [ ]:
DEFAULT_USER_COUNT = 3
def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']): 
  """ 
  Удаляет из списка default_list последнего пользователя и 
  возвращает ID нового последнего пользователя. 
  """ 
  print(default_list)
  element_to_delete = default_list[-1] 
  default_list.remove(element_to_delete)
  return default_list[DEFAULT_USER_COUNT-2]
delete_and_return_last_user(1)
delete_and_return_last_user(1)

['A100', 'A101', 'A102']
['A100', 'A101']

IndexError: ignored

list index out of range - индекс вызываемого элемента списка находится вне диапазона.
в списке параметров ф-ии - 2- region и default list. При вызове ф-ии передаем только 1 параметр - регион. если бы мы передавали в качестве параметра default_list, то ф-я срабатывала бы без ошибок, удаляя последний элемент 'A102' и возвращая 'A101'. Т.к мы default_list не передаем, то при повторном запуске в качестве аргумента используется уже default_list с удаленным последним элементом:['A100', 'A101']. При удалении последнего элемента 'A101'. в списке остается только 1 элемент с номером 0, поэтому попытка вернуть элемент с номером 1 ( User_count = 3 -2) приводит к ошибке