<a href="https://colab.research.google.com/github/solobala/pyda36/blob/main/netology_practice_3_04_08_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Практика 3
Теория: Функции

Булыгин Олег:  
* [LinkedIn](linkedin.com/in/obulygin)  
* [Мой канал в ТГ по Python](https://t.me/solidtalk)



1.   Вспомним args
2.   Вспомним lambda-функции и посмотрим на итераторы
3.   Напишем программу в процедурном стиле на основе функций

### Практика. Напишем функцию, которая определяет является ли слово палиндромом

Пример работы программы:
```
print(is_palindrom('Радар'))
True
```

```
print(is_palindrom('строка'))
False
```

In [ ]:
def pal(s):
  s = s.lower()
  return s == s[::-1]
pal('Радар')

True

In [ ]:
def pal():
    f = input("Введите строку")
    if f == f[::-1]:
        print(True)
    else:
        print(False)

pal()

Введите строкурадар
True

In [ ]:
slovo = input()
if slovo == slovo[::-1]:
    print("да")
else:
    print("нет")

## args and kwargs
Иногда возникает ситуация, когда вы заранее не знаете, какое количество аргументов будет необходимо принять функции. В этом случае следует использовать аргументы произвольной длины ([args и kwargs](https://habr.com/ru/company/ruvds/blog/482464/)). Они задаются произвольным именем переменной, перед которой ставится звездочка (args) или две здездочки (kwargs).

In [ ]:
# Сумму всех позиционных аргументов вычисляем с помощью sum
# *args упаковывает все позиционные аргументы в кортеж
# **kwargs упаковывает все именованные аргументы в словарь, из которого получаем значение по ключу

def sum_division(*args, **kwargs):
    print(args)
    print(kwargs)
    return round(sum(args) / kwargs['divisor'], kwargs['accuracy'])

print(sum_division(1, 2, 3, 4, 7, 8, 9, 10, divisor=7, accuracy=2))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{'divisor': 7, 'accuracy': 2}
7.86

In [ ]:
# распаковка позволяет отделить создание списка аргументов от их передачи в функцию
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
params = {'divisor':7, 'accuracy':2}

print(sum_division(*numbers, **params))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{'divisor': 7, 'accuracy': 2}
7.86

In [ ]:
print(f'{",".join(["3252345", "343456", "3463456"])}')

3252345,343456,3463456

In [ ]:
print(*[2342345, 3434, 45456, 45456], sep='.')

2342345.3434.45456.45456

### Практика. Напишем функцию, которая будет находить среднюю цену квартиры по всем переданным в нее районам города

In [ ]:
district_1 = {'flat_1': 10500, 'flat_2': 11000}
district_2 = {'flat_3': 15000}
district_3 = {'flat_4': 6500, 'flat_5': 7000, 'flat_6': 6000}

In [ ]:
def get_avg_price(*distrcits):
    print(distrcits)
    count = 0
    sum_ = 0
    for district in distrcits:
        count += len(district)
        sum_ += sum(district.values())
    return sum_ / count

get_avg_price(district_1, district_2, district_3)

({'flat_1': 10500, 'flat_2': 11000}, {'flat_3': 15000}, {'flat_4': 6500, 'flat_5': 7000, 'flat_6': 6000})

9333.333333333334

In [ ]:
def get_avg_price(districts):
    return sum(districts.values()) / len(districts)

get_avg_price({**district_1, **district_2, **district_3})

9333.333333333334

## Комплексный пример

In [ ]:
students_list = [
    {"name": "Василий", "surname": "Теркин", "gender": "м", "program_exp": True, "grade": [8, 8, 9, 10], "exam": 8},
    {"name": "Мария", "surname": "Павлова", "gender": "ж", "program_exp": True, "grade": [7, 8, 9, 7, 9], "exam": 9},
    {"name": "Ирина", "surname": "Андреева", "gender": "ж", "program_exp": False, "grade": [10, 1, 8, 10], "exam": 7},
    {"name": "Татьяна", "surname": "Сидорова", "gender": "ж", "program_exp": False, "grade": [7, 8, 8, 9, 8],"exam": 10},
    {"name": "Иван", "surname": "Васильев", "gender": "м", "program_exp": True, "grade": [9, 8, 9, 6, 9, 4], "exam": 5},
    {"name": "Роман", "surname": "Золотарев", "gender": "м", "program_exp": False, "grade": [8, 9, 9, 6, 9], "exam": 6}
]

In [ ]:
def get_avg_ex_grade(students, gender=None, exp=None):
    sum_ex = 0
    counter = 0
    for student in students:
        # print(student['exam'])
        if (student['gender'] == gender or gender is None) and (student['program_exp'] is exp or exp is None):
            sum_ex += student['exam']
            counter += 1
    return round(sum_ex / counter, 2)

# print(get_avg_ex_grade(students_list))
# print(get_avg_ex_grade(students_list, 'м'))
# print(get_avg_ex_grade(students_list, 'ж'))

# print(get_avg_ex_grade(students_list, exp=True))
# print(get_avg_ex_grade(students_list, None, exp=True))

# print(get_avg_ex_grade(students_list, 'ж', True))
# print(get_avg_ex_grade(students_list, 'м', False))

# print(get_avg_ex_grade(students_list, , False))

7.33
7.33
9.0
6.0

In [ ]:
def get_students_with_tails(students, thresh=8):
    tails_list = []
    for student in students:
        if sum(student['grade']) / len(student['grade']) < thresh:
            tails_list.append(f'{student["name"]} {student["surname"]}')
    return sorted(tails_list)

# get_students_with_tails(students_list)

['Иван Васильев', 'Ирина Андреева']

In [ ]:
def get_bad_hw(students, thresh=7):
    tails_list = {}
    for student in students:
        bad_grades = len([grade for grade in student["grade"] if grade < 7])
        if bad_grades > 0:
            tails_list[f'{student["name"]} {student["surname"]}'] = bad_grades
    return tails_list

# get_bad_hw(students_list)

{'Иван Васильев': 2, 'Ирина Андреева': 1, 'Роман Золотарев': 1}

In [ ]:
import pandas as pd
def get_mode(students):
    return pd.Series(sum([student['grade'] for student in students], [])).mode()[0]
get_mode(students_list)

9

In [ ]:
def main(students):
    while True:
        command = input('Введите команду')
        if command == '1':
            print(get_avg_ex_grade(students, exp=True))
        elif command == '2':
           print(get_avg_ex_grade(students, 'ж', True))
        elif command == '3':
           print(get_bad_hw(students))
        elif command == '4':
           print(get_mode(students))
        elif command == 'q':
            print('Выход')
            break

main(students_list)

Введите команду1
7.33
Введите команду2
9.0
Введите команду3
{'Ирина Андреева': 1, 'Иван Васильев': 2, 'Роман Золотарев': 1}
Введите команду4
9
Введите команду3
{'Ирина Андреева': 1, 'Иван Васильев': 2, 'Роман Золотарев': 1}
Введите команду1
7.33
Введите командуq
Выход

## Анонимные функции, функции map и filter

[Анонимные функции](https://habr.com/ru/post/507642/) создаются при помощи инструкции lambda и используются для более краткой записи функций с одним выражением. Выполняются быстрее обычных и не требуют инструкции return.

Отсортируем словарь

In [ ]:
my_dict = {
    'id1': 654321, 
    'id2': 123456, 
    'id3': 777777
}

In [ ]:
res = {}
for sorted_value in sorted(my_dict.values()):
    for key, value in my_dict.items():
        if sorted_value == value:
           res[key] = sorted_value 

print(res)

{'id2': 123456, 'id1': 654321, 'id3': 777777}

### Отсортируем словарь без циклов

In [ ]:
print(dict(sorted(my_dict.items(), key=lambda kv: kv[1])))

{'id2': 123456, 'id1': 654321, 'id3': 777777}

Получим список из средних цен в каждой категории товаров

In [ ]:
prices_by_categories = [[100, 200, 400, 600], [200, 500], [100, 200, 100, 100], [800, 900]]

In [ ]:
def get_avg_prices(prices):
    mean_prices = []
    for category in prices:
        mean_prices.append(sum(category) / len(category))
    return mean_prices

print(get_avg_prices(prices_by_categories))

[325.0, 350.0, 125.0, 850.0]

In [ ]:
# при помощи list comprehension

[sum(category) / len(category) for category in prices_by_categories]

[325.0, 350.0, 125.0, 850.0]

### Получим список из средних цен без цикла

In [ ]:
list(map(lambda category: sum(category) / len(category), prices_by_categories))

[325.0, 350.0, 125.0, 850.0]

Решим задачу с фильтрацией структуры по гордам без цикла

In [ ]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit7': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']}
]

In [ ]:
result = []
for log in geo_logs:
    if 'Россия' in list(log.values())[0]:
        result.append(log)
        
print(result)

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}, {'visit7': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}, {'visit10': ['Архангельск', 'Россия']}]

In [ ]:
print(list(filter(lambda log: 'Россия' in list(log.values())[0], geo_logs)))

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}, {'visit7': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}, {'visit10': ['Архангельск', 'Россия']}]

## Цикл / рекурсия / reduce ?

Напишем функцию, преобразующую произвольный список вида `['2018-01-01', 'yandex', 'cpc', 100]` (он может быть любой длины) в словарь `{'2018-01-01': {'yandex': {'cpc': 100}}}`

In [ ]:
some_list = ['2018-01-01', 'yandex', 'cpc', 100]

In [ ]:
def get_crazy_nested_dict(some_list):
    res = some_list[-1]            
    for el in reversed(some_list[:-1]):      
        res = {el: res}    
    return res
    
print(get_crazy_nested_dict(some_list))

Реализация через reduce

reduce последовательно применяет функцию-аргумент к элементам итерируемого объекта и возвращает единичное значение.

In [ ]:
from functools import reduce
res = reduce(lambda a, b: a * b, [1, 5, 7, 9])
res

315

In [ ]:
some_list = ['2018-01-01', 'yandex', 'cpc', 100]
# 100, cpc, yandex, date
reduce(lambda last_el, prev_el: {prev_el: last_el}, reversed(some_list))

{'2018-01-01': {'yandex': {'cpc': 100}}}

## Ваши вопросы